.right-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 200px;
    max-width: 200px;
    height: 100vh;
    background: radial-gradient(#1f1b2a, #131118);
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

    .profile-wrapper {

        .profile-img-wrapper {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            overflow: hidden;

            .profile-img {
                width: 100px;
                height: 100px;
            }
        }

        .site-role {
            color: #3a81bf;
            font-size: 14px;
        }

        .profile-name {
            color: #ffffff;
            font-size: 18px;
            padding-top: 10px;
        }

        .profile-role {
            color: #ffffff;
            font-size: 14px;
            padding-top: 5px;
        }
    }

    .nav-wrapper {

        .nav {
            .nav-item {
                display: block;
                background: #3a81bf;
                color: #ffffff;
                font-size: 16px;
                text-decoration: none;
                margin: 15px 0;
                padding: 5px 10px;
            }
        }
    }

    .right-bar-info {
        margin-top: 80px;
        h5 {
            font-weight: 400;
            margin: 20px 0 5px 0;
        }
        p {
            font-size: 12px;
            font-weight: lighter;
            margin: 0;
        }
    }
}