.app-main {
    // position: relative;

    .main {
        width: 100%;
        height: 100vh;
        // background: radial-gradient(#1f1b2a, #131118);
        padding-left: 300px;
        padding-right: 300px;
    }
}



.hidden, .hide {
    display: none;
}

.form-control, .form-control:focus {
    background: transparent;
    color: #ffffff;
}

input[type="checkbox"] {
    width: 25px; /*Desired width*/
    height: 25px; /*Desired height*/
}

.btn {
    border-radius: 0px;
    
    &.btn-primary {
        background: #3a81bf;
    }

    &.btn-upload {
        background-image: url(../assets/img/btn-upload.png);
        background-size: cover;
        width: 189px;
        height: 154px;
    }
}

.badge {
    
    &.badge-primary {
        background: #3a81bf;
        color: #ffffff;

    }
}

.text-primary {
    color: #3a81bf;
}